
<%-include('../components/header')%>
    <section class="collegeEventDesc">
        <div class="eventTopImg"></div>
        <div class="eventTopContent">
          Hetauda City College frequently holds different events that can have a number of benefits for students, staff, and the wider college community.
          One of the main benefits of holding events is that they provide opportunities for students to get involved in extracurricular activities. This can be beneficial for their overall college experience, as it allows them to explore their interests and passions outside of the classroom. Additionally, participating in events can help students develop important skills such as leadership, teamwork, and communication. They can foster a sense of community within the college. This can be especially important for students who are new to the college and may be feeling a bit overwhelmed.
        </div>
      </section>
      <section class="mainEvents">
        <h1 class="eventHead">Events</h1>
        <button class="btn eventBtn"><a href="/notices/new">Add Event</a></button>
        <%if(articles.length != 0){%>
          <div class="events">
                <%locals.articles.forEach((article)=>{%>
                <div class="event">
                  <div class="date">
                
                   <%let eventDay=article.eventDate.split(" ")%>
                    <h1 class="day"><%=eventDay[0]%></h1>
                    <h2 class="month"><%=eventDay[1]%></h2>
                  </div>
                  <div class="eventInfoContainer">
                    <div class="evenInfo">
                      <h1 class="eventTitle"><%=article.title%></h1>
                      <p class="eventAbstract"><%=article.description%></p>
                    </div>
                    <a class="readMoreBtn" href=" <%="/notices/" + article.slug%>">Read more</a>
                    <!-- Since anchor tag will be clicked while indexing, we use form for deletion -->
                    <div class="deleteAndEdit">
                    <form action="<%='/notices/'+article._id%>?_method=DELETE" method="POST">
                        <button type="button" class="btn deleteBtn" onclick="askToDelete(event)"><i class="fa fa-trash-o" aria-hidden="true"></i> <span class="delTxt">Delete</span></button>
                    </form>
                    <a href="<%="/notices/edit/"+article._id%>"><button class="btn editBtn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="editTxt">Edit</span></button></a>
                    </div>
                  </div>
                </div>
                <%})%>
              </div>
            <%}else{%>
                <h1 class="noEventsMsg">No Events right now</h1>
            <%}%>
      </section>
<%-include('../components/footer')%>
