<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/adminDashboard.css">
  <link rel="stylesheet" href="/css/responsiveAdmin.css">
  <script defer src="/scripts/admin.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Admin Dashboard</title>
</head>

<body>
  <nav>
    <div class="navContent">
      <div class="left">
        <h2>Dashboard</h2>
      </div>
      <div class="right">
        <h4 id="adminName">Yogi Naresh Nath</h4>
        <span class="profileImg"><img src="/img/teachersImg/yogiNareshNath.jpg" alt=""></span>
      </div>
    </div>
  </nav>
  <section class="userCountSection">
    <div class="card studentCard">
      <div class="userCount"><%=students.length%></div>
      <div class="userType">Students</div>
    </div>
    <div class="card teacherCard">
      <div class="userCount"><%=teachers.length%></div>
      <div class="userType">Teachers</div>
    </div>
    <div class="card adminCard">
      <div class="userCount"><%=admins.length%></div>
      <div class="userType">Admin</div>
    </div>
  </section>
  <section class="addUserPopUp">
    <dialog class="addUserModal">
      <h1 class="title">Add a Student</h1>
      <p><%=typeof flashMessage!=='undefined'?flashMessage:""%></p>
      <form action="/admin/users/new" method="post">
        <%-include('../components/userDetailFormFields',{fullName:locals.fullName,email:locals.email,phoneNumber:locals.phoneNumber})%>
        <input type='radio' name="userType" id="studentRadio" value="student">
        <input type='radio' name="userType" id="teacherRadio" value="teacher">
        <div class="btns">
          <button type="button" class="cancelBtn btn">Cancel</button>
          <button type="submit" class="btn">Add</button>
        </div>
      </form>
    </dialog>
  </section>
  <!-- This is section for studetns  -->
  <!-- We iterate over each student and render each of them -->
  <section class="userList">
    <div class="lists">
      <div class="usersBtn">
        <a data-target-table="#studentTable" class="studentListBtn activeUserList">Student</a>
        <a  data-target-table="#teacherTable" class="teacherListBtn">Teacher</a>
        <a  data-target-table="#adminTable" class="adminListBtn">Admin</a>
      </div>
      <div class="tableTop">
        <span class="left">Students List</span>
        <div class="right">
          <input type="text" placeholder="Search Student by Name" class="searchInput">
          <a class="btn addBtn addStudent">Add</a>
        </div>
      </div>
      <div class="tableContainer">
        <table class="userListTable active" id="studentTable">
          <%-include('./partials/_tableHeadBody',{users:students})%>
        </table>
        <table class="userListTable" id="teacherTable">
          <%-include('./partials/_tableHeadBody',{users:teachers})%>
        </table>
        <table class="userListTable" id="adminTable">
          <%-include('./partials/_tableHeadBody',{users:admins})%>
        </table>
  
      </div>
    </div>
  </section>
</body>

</html>





<!-- <a ">Add a User</button> -->