<div class="inputContainer">
    <label for="title" class="inputLabel">Title</label>
    <br>
    <input type="text" class="inputStyle" required id="title" name="title" value="<%=note.title%>">
</div>
<div class="inputContainer">
    <label for="description" class="inputLabel">Description</label>
    <br>
    <textarea type="text" name="description" id="description" class="textarea" required><%=note.description%></textarea>
</div>
<div class="inputContainer">
    <label for="subject" class="inputLabel">Subject</label>
    <br>
    <input type="subject" class="inputStyle" required id="subject" name="subject" value="<%=note.subject%>">
</div>
<div class="inputContainer">
    <fieldset>
        <legend>Faculty(one or more):</legend>
        <!-- if the csit or bca is in note.faculty we need to check it  -->
        <%if(note.faculty.includes("csit")){%>
            <input type="checkbox" checked id="csit" name="faculty" value="csit">
            <%}else{%>
                <input type="checkbox" id="csit" name="faculty" value="csit">
            <%}%>
            <label for="csit">Bsc.CSIT</label>
        <%if(note.faculty.includes("bca")){%>
            <input type="checkbox" checked id="bca" name="faculty" value="bca">
            <%}else{%>
                <input type="checkbox" id="bca" name="faculty" value="bca">
            <%}%>
            <label for="bca">BCA</label>       
    </fieldset>
</div>
<div class="inputContainer">
    <label for="semester" style="font-size: 1.1rem">Choose a semester:</label>
    <select name="semester" id="semesterSelect">
       <%resolveSuffix=(num)=>num==1?"1st":num==2?"2nd":num==3?"3rd":`${num}th`%>
        <%[1,2,3,4,5,6,7,8].forEach((num)=>{%>
            <%if(note.semester==num){%>
                <option value="<%=num%>" selected><%=resolveSuffix(num)%></option>
                <%}else{%>
                    <option value="<%=num%>" ><%=resolveSuffix(num)%></option>
            <%}%>

        <%})%>
    </select>
</div>
<div class="inputContainer">
    <label for="noteFile" style="font-size: 1.1rem">
        Choose a pdf or an image
    </label>
    <input type="file" name="noteFile" id="noteFile">
</div>




<!-- subject -->
<!-- faculty checkboxes -->
<!-- semester -->
<!-- file input -->

<!-- When an user clicks edit the note, we will pull all the details of the associted note from the databse
and populate the fields with existing information -->