<%RenderingURL=req.originalUrl%>

<%-include('../../components/header')%>
<div class="noteSection container">

  <!-- Name of the teacher whose note it is -->
  <h1 class="teacherName"><%=proprietaryTeacher.fullName%></h1>
  <!-- When a user is not logged in user object will not be defined for them  -->
  <%if(req.user==null){%>
  <div>Nope Not allowed</div>
  <%}else{%>
  <div><%=(proprietaryTeacher.equals(req.user))?"You can add notes":"Nope! Not allowed"%></div>
  <%}%>
    <!-- We will show add button to everyone for test puroposes -->
    <a href="<%=`/teachers/${proprietaryTeacher._id}/notes/new`%>" class="btn noteBtn" style="padding: 0.7rem 2rem;">Add note</a>


  <%notes.forEach((note)=>{%>
  <div class="note">
    <%resolveSuffix=(num)=>num==1?"1st":num==2?"2nd":num==3?'3rd':`${num}th`%>
    <h3><%=note.title%></h3>
    <%if(note.description!=null){%>
    <p><%=note.description%></p>
    <%}%>
    <p>Subject:<%=note.subject%></p>
    <p>Faculty:<%=note.faculty.toString()%></p>
    <p>Semster:<%=resolveSuffix(note.semester)%></p>
    <div class="btns" style="margin-top: 2rem">
    <a href="<%=note.filePath%>" download class="downloadBtn">Download</a>
    <a href="<%=`/teachers/${note.publisherId}/notes/${note._id}?_method=PUT`%>" class="editBtn">Edit</a>
    <form action=<%=`/teachers/${note.publisherId}/notes/${note._id}?_method=DELETE`%> method="post">
      <button type="submit" class="deleteBtn" style="margin-left: 10px">Delete</button>
    </form>
  </div>

  </div>
  <%})%>
</div>


<%-include('../../components/footer')%>